.dialog-logo {
  background-image: url('/images/logo-text.svg');
  background-size: contain;
  width: 240px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto 0;
}

.welcome-dialog {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

.evaluation-number {
  display: inline-block;
  width: 20px;
  position: relative;
  top: -2px;
  height: 20px;
  line-height: 18px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  margin-right: 11px;
  border-radius: 20px;
  color: $--color-primary;
  border: 1px solid $--color-primary;
}

.evaluation-course {
  color: $--color-primary;
}

.evaluation-sentence {
  padding-bottom: 0px;
  font-size: 14px;
  font-weight: 500;
}
