@keyframes leaveToLeft {
  0%{
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-20px);
  }
}
@keyframes leaveToRight {
  0%{
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(20px);
  }
}

.to-left {
  animation: leaveToLeft .3s ease;
}
.to-right {
  animation: leaveToRight .3s ease;
}
.from-left {
  animation: leaveToLeft .3s reverse;
}
.from-right {
  animation: leaveToRight .3s reverse;
}
