.error-container {
  display: block;
  max-width: 550px;
  margin: 30px auto;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  border: 0;
  position: relative;
  background: rgba(255, 255, 255, 0.7);
  padding: 30px;

  > .title {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 16px;
  }
}
