#login-email,
#login-password {
  border-color: $--color-primary;
}

#login-email {
  border-bottom-width: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#login-password {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
