.form {
  opacity: 0;
  transition: all .3s linear;

  &.top {
    opacity: 1;
    transform: translateY(0);
  }

  &.bottom {
    transform: translateY(50px);
  }
}

.login {
  display: block;
  max-width: 460px;
  margin: 30px auto;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: 0;
  position: relative;
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
  padding: 20px 20px 30px;

  .title {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 16px;
  }

  .el-input--suffix .el-input__inner {
    &::placeholder {
      color: #666;
    }
  }
}

#login-email,
#login-password {
  border-color: $--color-primary;
}

#login-email {
  border-bottom-width: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#login-password {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.login-enter-active {
  opacity: 0;
  transform: translateY(50px);
  animation: form-visible .5s linear;
}
.login-leave-active {
  opacity: 1;
  transform: translateY(0);
  animation: form-invisible .5s linear;
}

@keyframes form-visible {
  0% { transform: translateY(50px); }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes form-invisible {
  0% { transform: translateY(0); }
  100% {
    opacity: 0;
    transform: translateY(50px);
  }
}

.google-icon {
  width: 18px;
  height: 18px;
  background-image: url('/images/google-icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: top;
  margin-top: -2px;
  margin-right: 15px;
}

.other-school {
  display: block;
  color: #999;
  font-size: 12px;
  margin-top: 10px;

  &:hover {
    color: $--color-primary;
  }
}

.login-statement {
  font-size: 12px;
  padding: 20px 0 0;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.login-or {
  text-align: center;
  margin: 15px 0;
  color: #000;
  position: relative;
  z-index: 2;
  opacity: .4;

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 11px;
    left: 3px;
    height: 1px;
    width: 45%;
    background: #666;
    z-index: -2;
  }

  &:after {
    left: auto;
    right: 3px;
  }
}

.el-button.close-password {
  position: absolute;
  right: 20px;
  top: 6px;
  font-weight: 400;
  font-size: 28px;
  opacity: 0;

  animation: closeButtonAnimation .25s .5s linear forwards;
  transform-origin: 50% 56%;
}


@keyframes closeButtonAnimation {
  0% { opacity: 0 }
  100% {
    opacity: 1;
    transform: rotateZ(90deg);
  }
}

.no-account {
  opacity: .3;
  color: #000;
  margin-top: -10px;
  padding-bottom: 10px;
}
