#password,
#reset-password {
  border-radius: 5px;
  border-color: $--color-primary;
}

#password {
  border-bottom-width: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#reset-password {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
