#app {
  width: 100%;
  height: 100%;
}

main {
  min-height: 100%;
  width: 100%;

  &.page-offset {
  }

  &.nav-offset {
    padding-top: $--header-height;
  }

  > .container {
    position: static;
  }
}

.page-body {
  padding: 20px 10px 40px;
}

.dimmer {
  position: fixed;
  top: 0 !important;
  left: 0 !important;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(255, 255, 255, .8);
  opacity: 0;
  line-height: 1;
  animation-fill-mode: both;
  transition: background-color 0.5s ease-in-out;
  user-select: none;
  will-change: opacity;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: none;

  &.active {
    display: block !important;
    visibility: visible !important;
    opacity: 1;
  }
}

@media (min-width: $--md) {
  main {
    &.page-offset {
      width: 100%;
    }
  }

  .page-body {
    padding: 30px 20px 60px;
    max-width: $--max-content-width;
    margin: 0 auto;
  }
}


// TODO: Temporary css
.hu-styling {
  a,
  .el-button--text,
  .el-tabs__item.is-active,
  .el-select-dropdown__item.selected,
  .el-checkbox__input.is-checked + .el-checkbox__label,
  .el-switch__label.is-active,
  .el-select-dropdown.is-multiple .el-select-dropdown__item.selected {
    color: #00a1e1;
  }

  .el-table .ascending .sort-caret.ascending {
    border-bottom-color: #00a1e1;
  }

  .el-table .descending .sort-caret.descending {
    border-top-color: #00a1e1;
  }

  .el-radio-button__inner:hover,
  .el-radio-button__inner:focus,
  .el-radio-button__inner:active,
  .el-button--text:hover,
  .el-button--text:active,
  .el-button--text:focus,
  a:hover,
  a:active,
  a:focus,
  .el-tabs__item:hover,
  .el-tabs__item:active,
  .el-tabs__item:focus {
    color: #00b2f6;
  }

  .el-checkbox__input.is-checked .el-checkbox__inner,
  .el-radio-button__orig-radio:checked + .el-radio-button__inner,
  .el-tabs__active-bar,
  .el-button--primary {
    background: #00a1e1;
    border-color: #00a1e1;
  }

  .el-button--primary:hover,
  .el-button--primary:active,
  .el-button--primary:focus {
    background: #00b2f6;
    border-color: #00b2f6;
  }

  header,
  #sidebar > .el-menu {
    background: #e6302b;
  }

  .el-tag,
  .el-button--default:hover,
  .el-button--default:active,
  .el-button--default:focus,
  .el-button--primary.is-plain {
    color: #00a1e1;
    background: rgba(0, 161, 225, 0.1);
    border-color: rgba(0, 161, 225, 0.5);
  }

  .el-tag .el-tag__close:hover,
  .el-button--primary.is-plain:active,
  .el-button--primary.is-plain:hover {
    background: #00a1e1;
    border-color: #00a1e1;
  }

  .el-checkbox__inner:hover,
  .el-checkbox__inner:focus,
  .el-select .el-input.is-focus .el-input__inner,
  .el-textarea__inner:focus,
  .el-select__input:focus,
  .el-input__inner:focus {
    border-color: #00a1e1;
  }

  .el-dropdown-menu .el-dropdown-menu__item:hover,
  .el-dropdown-menu .el-dropdown-menu__item:active,
  .el-dropdown-menu .el-dropdown-menu__item:focus {
    color: #00a1e1;
    background: rgba(0, 161, 225, 0.1);
  }

  .el-switch__input:focus + .el-switch__core, .el-checkbox__input.is-focus > .el-checkbox__inner {
    box-shadow: 0 0 2px 1px #00a1e1;
  }
}
