.no-shadow {
  box-shadow: none;
}

#password,
#reset-password {
  border-radius: 5px;
  border-color: $--color-primary;
}

#password {
  border-bottom-width: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#reset-password {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.Password {
  max-width: 100% !important;
  margin: 0 !important;
  border-left: 1px solid $--color-primary;
  border-right: 1px solid $--color-primary;

  .Password__strength-meter {
    margin: 0;
    background-color: rgba(255, 255, 255, 0.7);
  }
}
