.logo-svg {
  width: 300px;
  height: 50px;
  overflow: visible !important;
  margin-left: -230px;
}

#aokmask {
  stroke-dasharray: 450;
  animation: dashmaskbuddy 8s ease-out 1, dashmaskbuddy2 1s linear infinite;
  animation-delay: 0s, 8s;
}

@keyframes dashmaskbuddy {
  0% {
    stroke-dashoffset: 470;
    transform: translate(5px, 0px);
  }
  10% {
    stroke-dashoffset: 470;
    transform: translate(5px, 0px);
  }
  23% {
    stroke-dashoffset: 0;
    transform: translate(5px, 0px);
  }
  24% {
    stroke-dashoffset: 0;
    transform: translate(0px, 0px);
  }
  30% {
    stroke-dashoffset: 0;
    transform: translate(-20px, 0px);
  }
  100% {
    stroke-dashoffset: 0;
    transform: translate(-20px, 0px);
  }
}

@keyframes dashmaskbuddy2 {
  0% {
    stroke-dashoffset: 0;
    transform: translate(-20px, 0px);
  }
  100% {
    stroke-dashoffset: 0;
    transform: translate(-20px, 0px);
  }
}

#fingerpink {
  animation: fingerappear 8s ease 1;
}

#fingerring {
  animation: fingerappear 8s ease 1;
}

#fingermiddle {
  animation: fingerappear 8s ease 1;
}

@keyframes fingerappear {
  0% {
    transform: rotate(0deg);
    opacity: 0;
    transform-origin: bottom;
  }
  20% {
    transform: rotate(110deg);
    opacity: 0;
    transform-origin: bottom;
  }
  30% {
    transform: rotate(0deg);
    opacity: 100;
    transform-origin: bottom;
  }
  100% {
    transform: rotate(0deg);
    transform-origin: bottom;
  }
}

#EvaloLogo01 {
  animation: spinninglogo 8s ease 1;
}

@keyframes spinninglogo {
  0% {
    transform: rotate(0deg);
    transform-origin: center;
  }
  20% {
    transform: rotate(0deg);
    transform-origin: center;
  }
  30% {
    transform: rotate(-20deg);
    transform-origin: center;
  }
  45% {
    transform: rotate(0deg);
    transform-origin: center;
  }
  100% {
    transform: rotate(0deg);
    transform-origin: center;
  }
}

#EvaloTextMask {
  stroke-dasharray: 5000;
  animation: dashmask2 8s ease-out 1;
}

#EvaloText {
  animation: logobuddyappear 8s ease-out 1;
}

@keyframes dashmask2 {
  0% {
    stroke-dashoffset: -4500;
  }
  20% {
    stroke-dashoffset: -4500;
  }
  45% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes logobuddyappear {
  0% {
    transform: translate(-4500px, 0px);
    transform-origin: center;
    opacity: 0;
  }
  20% {
    transform: translate(-4500px, 0px);
    transform-origin: center;
    opacity: 0;
  }
  45% {
    transform: translate(0px, 0px);
    transform-origin: center;
  }
  55% {
    opacity: 1;
  }
  100% {
    transform: translate(0px, 0px);
    transform-origin: center;
    opacity: 1;
  }
}
