.test-mailing-dialog.el-dialog {
  padding: 0;
  text-align: center;
  max-width: 900px !important;

  .el-dialog__header,
  .el-dialog__body {
    padding: 0;
  }

  .el-dialog__headerbtn {
    z-index: 1;
  }
}


@media (max-width: $--sm) {
  .dialog-logo {
    width: 90%;

    svg {
      width: 101%;
    }
  }
}

.welcome-dialog .additional {
  display: none;
}
