.statistics-ackee {
  .el-card__body {
    text-align: left;

    h2 {
      margin-bottom: 15px;
    }

    .counter {
      font-size: 2em;
    }

    .small-text {
      font-size: 0.8em;
    }
    .small-text {
      font-size: 0.8em;
    }
  }

  .chart-title {
    font-size: 1.5em;
  }

}

