.statistics-ackee {
  .el-card__body {
    text-align: left;
  }

  .fact-title {
    font-size: 1.5em;
  }

  .fact-date-text {
    font-size: 1em;
  }

  .counter {
    font-size: 2em;
  }

  .small-text {
    font-size: 0.8em;
  }

  .chart-title {
    font-size: 1.5em;
  }
}

